
<div class= index-body>
    <div class="container-fluid">
    	<div class="row">
    	<div class="col-md-12">
    	  <% @jobs.each do |job| %>
    	    <section id="job-section">
    	      <div class="wrapper">
    	        <div class="job-section">
    	          <div class="col-sm-8">
              <!--job title -->
                  <div class="title">
    								  <span><%= link_to(job.title, job_path(job)) %></span>
                  </div>
              <!-- job category -->
    							<p>
    								<%= job.category %>
    							</p>
              <!-- wage -->
    							<p>
    	              <i class="icon fa fa-usd fa-fx" aria-hidden="true"></i>
    	              <%= job.wage_lower_bound / 1000 %> K -
    	              <%= job.wage_upper_bound / 1000 %> K
    	            </p>
              <!-- contact email -->
                  <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <%= job.contact_email %>
                  </p>
              <!-- company -->
                  <p>
                  <%= job.company %>
                  </p>
                  <p>
                  <%= job.city %>
                  </p>
    	          </div>
    						<!-- application button -->
    	          <div class="col-sm-2 pull-right">
    							<div class="button">
    								  <%= link_to(('一键应征'), new_job_resume_path(job), class: "btn btn-info btn-middle", method: :get) %>
                  <div>
    	          </div>
    	        </div>
    	      </div>
    	    </section>
    	  <% end %>
    	</div>
    </div>
</div>
