<div class="container-fluid">
  <div class="col-md-12">
    <section id="job-info">

      <!-- title -->
      <div class="job-title">
        <%= @job.title %>
      </div>

      <!-- location and salary -->
      <p class="details">
        <i class="icon fa fa-usd fa-fx" aria-hidden="true"></i>
        <%= @job.wage_lower_bound / 1000 %> K -
        <%= @job.wage_upper_bound / 1000 %> K

      </p>

      <!-- description -->
      <p class="description">
        <%= @job.description %>
      </p>

      <!-- submit resume -->
      <div class='button'>
        <%= link_to(t('投递简历'), new_job_resume_path(@job), class: 'btn btn-lg btn-danger button_highlight') %>
      </div>


  </div>
</div>
