<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-centered" >
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>探索工具</h2></div>
  <div class="panel-body">
    <p>以下是最为经典的几个职业测评工具</p>
    <p>其中我们针对第一个工具，提供按照测评结果来筛选工作的功能。一键得到“为你而设”的工作</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><%= link_to("MBTI16型人格测试", firsttool_path) %></li>
    <li class="list-group-item"><%= link_to("盖洛普优势识别器", secondtool_path) %></li>
    <li class="list-group-item"><%= link_to("DISC性格测试", thirdtool_path) %></li>
    <li class="list-group-item"><%= link_to("霍兰德职业兴趣测试", fourthtool_path) %></li>
    <li class="list-group-item"><%= link_to("生命意义探索", fifthtool_path) %></li>
    <li class="list-group-item"><%= link_to("价值观探索", sixthtool_path) %></li>
  </ul>
</div>
  <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
</div>
<div class="col-md-3"></div>
</div>
</div>
